

<hr>

@if (simulationService.selectedEntity(); as entity) {

<h3>Properties</h3>

<p><b>Name:</b> {{ entity.name }}</p>

<p><b>Type:</b> {{ entity.type }}</p>

<p><b>Latitude:</b> {{ entity.position.latitude }}</p>

<p><b>Longitude:</b> {{ entity.position.longitude }}</p>

 @if (isAircraft(entity)) {

<p><b>Altitude:</b> {{ aircraft(entity).position.altitude }}</p>

<p><b>Speed:</b> {{ aircraft(entity).speed }}</p>

<p><b>Heading:</b> {{ aircraft(entity).heading }}</p>

}

@if (isRadar(entity)) {

<p><b>Range:</b> {{ radar(entity).range }}</p>

}

<button (click)="deleteSelected()">
    Delete
</button>

}



