html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.workspace {
    flex: 1;
    display: flex;
    overflow: hidden;
}

 app-asset-browser{
    width:320px;
    min-width:320px;
    max-width:320px;

    border-right:1px solid #ccc;

    display:block;

    overflow:hidden;
}

app-map {
    flex: 1;
    display: block;
}