<div class="toolbar">

    <button (click)="simulationService.setTool(EditorTool.Select)">
        Select
    </button>

    <input
    #fileInput
    type="file"
    accept=".json"
    hidden
    (change)="onFileSelected($event)">

<button (click)="fileInput.click()">
    Upload JSON
</button>

<app-asset-browser></app-asset-browser>

    <!-- <button (click)="simulationService.setTool(EditorTool.Aircraft)">
        Aircraft
    </button>

    <button (click)="simulationService.setTool(EditorTool.Radar)">
        Radar
    </button>

    <button (click)="simulationService.setTool(EditorTool.SamBattery)">
        SAM
    </button>

    <button (click)="simulationService.setTool(EditorTool.Missile)">
        Missile
    </button>

    <button (click)="simulationService.setTool(EditorTool.GroundTarget)">
        Ground Target
    </button> -->

    <span class="spacer"></span>

     <button (click)="simulationService.showSplit()">
    Split
</button>

<button (click)="simulationService.showLeaflet()">
    Full 2D
</button>

<button (click)="simulationService.showCesium()">
    Full 3D
</button>

</div>